* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #dff5e0;
}

.hero {
  background-image: url("C:/Users/jaya/OneDrive/Desktop/hunger hub ( project )/background1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(255, 255, 255);
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
}

.nav-links .btn {
  padding: 8px 16px;
  background-color: #49824f;
  border-radius: 5px;
  font-weight: bold;
}

.nav-links .btn:hover {
  background-color: #49824f;
}

.welcome-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 700px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.welcome-content h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.search-box button {
  padding: 12px 20px;
  background-color: #49824f;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.search-box button:hover {
  background-color: #49824f;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .welcome-content h1 {
    font-size: 24px;
  }

  .search-box {
    flex-direction: column;
  }

  .search-box input, .search-box button {
    width: 100%;
  }
}
